.niceColor{
    color: #4CAF50; /* Green */
}
 
.productImage{
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
}

.productEditImage{
    border-radius: 10px;
    width: 300px;
}


.myButton{
    margin-top: 10px;
}


.card-spacer{
    margin-bottom: 20px;
}